:root {
   --text-color: #DBE4EF;
   --card-front-color: #144480;
   --card-back-color:#00F4BF;
}


body{
    background-color:#00FFFF;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
 #container{
    display: flex;

 }

 .cartao{
    margin: 1rem 1rem; 
    background-color: rgba(201, 192, 192, 0.904);
 }